body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-45deg, #b3d9ff, #99ccff, #cce6ff, #b3d9ff);
    animation: gradient 12s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 5px 20px rgba(70, 130, 180, 0.2);
    max-width: 400px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #4682b4;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border: none;
    background-color: #eef7fb;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    outline: none;
}

.login-container input[type="submit"] {
    background-color: #4682b4;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.25mm;
}

.password-toggle {
    position: relative;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    transform: translateY(15px);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #4682b4;
    transition: color 0.3s ease;
}

.password-toggle-btn:hover {
    color: #336699;
}

.login-container input[type="text"]:hover,
.login-container input[type="password"]:hover {
    background-color: #e0f0fb;
}

.login-container input[type="submit"]:hover {
    background-color: #336699;
}

footer {
    position: fixed;
    bottom: 0;
    width: 99.175%;
    background-color: #4682b4;
    color: #ffffffe9;
    text-align: center;
    padding: 12px;
    box-shadow: 0 -2px 5px rgba(125, 125, 125, 0.438);
    border-radius: 15px 15px 0px 0px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease, border-radius 0.6s ease, color 0.4s ease;
}

footer:hover {
    cursor: copy;
    background-color: #336699;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.361);
    border-radius: 0px;
    color: #fff;
    transition: background-color 0.4s ease, box-shadow 0.4s ease, border-radius 0.6s ease, color 0.4s ease;
}